.fab {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background: #371058;
    color: white;
    display: flex;
    justify-content: center;
}
h1{
	color: #371058;
}
